/* 全域設定 */
html,
body {
  height: 100%;
  /* text-align: center; */
  background-color: rgb(52, 50, 50);
}

.double-text{
  font-size: 36px;
  -webkit-text-stroke: 1.5px rgb(255, 247, 0); /* 描邊色和寬度 */
  text-stroke: 1.5px rgb(210, 214, 66);
  paint-order: stroke fill; /* 先畫外框，再填滿 */
}

.align-items-center{
  align-items: center;
}

.half-item{
  flex-grow: 1; 
  flex-shrink: 1; 
  flex-basis: 0%; 
}



.mobile-disable{
  display: none;
}

@media (min-width: 768px){
  .mobile-disable{
    display: inline;
  }
}

/* ==== 登入頁面 ==== */

.nonLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-card{
  padding: 50px;
  background-color: rgb(3, 100, 100);
  border-radius: 16px;
  box-shadow: 10px 10px 10px ;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* 產品列表 */

.container{
  max-width: calc(100% - 16px - 16px);
  align-self: center;
  margin: 0 auto;
}
tr.table-text th,
tr.table-text td,
tr.table-text button{
  font-size: 0.7rem;
}


.title-text{
  font-size: 1rem ;
}

thead tr th,
tbody tr th {
  text-align: center;
}



@media (min-width: 768px) {

  .container{
    max-width: calc(100% - 80px - 80px);
  }
  tr.table-text th,
  tr.table-text td,
  tr.table-text button{
    font-size: 1.0rem;
  }

  .title-text{
    font-size: 2.0rem ;
  }
}

/* header 全域 */
nav.header {
  box-shadow: 8px 4px 8px ;
}

/* ====  產品頁面 ==== */

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 250px;
}



.images {
  width: 100%;
  max-width: 250px;
  max-height: 200px;
  object-fit: cover;
}

/* === 灰色遮罩：佔滿全螢幕，半透明 === */

.modal-backdrop {
  position: fixed; /*用來定位*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 黑色半透明 */
  z-index: 1000; /* 確保在最上層 */
  /* 讓內容物置中顯示的 flex 設定 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === 彈跳視窗本體 === */
.modal-content {
  background-color: rgb(185, 186, 187);
  padding: 20px;
  border-radius: 8px;
  
  /* 限制寬度與邊距 */
  width: 100%; 
  max-width: calc(100% - 16px - 16px); /*  控制最大寬度 */
  margin: 0 24px;   /* 左右保留 24px 的編劇 */
  
  /* 讓視窗內若內容太長可以滾動，而不影響整頁 */
  max-height: 90vh; 
  overflow-y: auto;
}

/* 副標題文字 */
.sub-title-text{
  font-size: 1.0rem;
}

/* 內容文字 */
.content-text{
  font-size: 0.7rem;
}

.confirm-window{
  width: 400px;
  height: 240px;
  box-shadow: 10px 10ox 10px;
  border-radius: 16px;
  background-color: aliceblue;
}

@media (min-width: 768px){
  .modal-content {
    max-width: calc(100% - 120px - 120px); /*  控制最大寬度 */
  }

  .sub-title-text{
    font-size: 1.6rem;
  }

  .content-text{
    font-size: 1.2rem;
  }

}

.card-img-top {
  width: auto;
  height: auto;
}

.card-title {
  display: flex;
  justify-content: start;
  align-items: center;
}

.card {
  border: 0px;
}

.card-body{
  display: flex;
  flex-direction: column;
}

.card-body p {
  justify-content: start;
  text-align: start;
}

.card-body,
.card {
  background-color: rgb(185, 186, 187);
}

.card-describe{
  margin-left: 1em;
}

.text-left{
  text-align: start !important;
}